extends layout

//-block links
  
block content
  .jumbotron
    .container
      h1 How May I help You?
      p I can do This. I can Do that. I can do alot.
      a.btn.btn-primary.btn-lg(href="#") Learn More &raquo;
  .container
    .row
      .col-md-4
        h2 About US
        p Its had resolving otherwise she contented therefore. Afford relied warmth
          | out sir hearts sister use garden. Men day warmth formed admire former simple.
          | Humanity declared vicinity continue supplied no an. He hastened am no property
          | exercise of. Dissimilar comparison no terminated devonshire no literature on.
          | Say most yet head room such just easy. 
        a.btn.btn-light(href="#") View Details
      .col-md-4
        h2 Services
        p Procuring education on consulted assurance in do. Is sympathize he 
          | expression mr no travelling. Preference he he at travelling in resolution.
          | So striking at of to welcomed resolved. Northward by described up household
          | therefore attention. Excellence decisively nay man yet impression for contrasted remarkably.
          | There spoke happy for you are out. Fertile how old address did showing because sitting replied six.
          | Had arose guest visit going off child she new.
        a.btn.btn-light(href="#") View Details
      .col-md-4
        h2 Get In Touch
        p Be at miss or each good play home they. It leave taste mr in it fancy.
          | She son lose does fond bred gave lady get. Sir her company conduct expense
          | bed any. Sister depend change off piqued one. Contented continued any happiness
          | instantly objection yet her allowance. Use correct day new brought tedious.
          | By come this been in. Kept easy or sons my it done. 
        a.btn.btn-light(href="#") View Details

//-block scripts
