doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title DSMC: #{title}
    include common/links.pug
  body

    include common/nav.pug
    
    .container
      block content
    include common/footer.pug
    include common/scripts.pug
